[Unit]
Description=QFS metaserver
After=network.target rpcbind.service

[Service]
ExecStart=/usr/bin/chunkserver /etc/qfs/ChunkServer.prp

[Install]
WantedBy=multi-user.target
