#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
##export DH_VERBOSE=1


export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie

CMAKE_FLAGS += -DCMAKE_SKIP_RPATH=OFF \
               -DCMAKE_VERBOSE_MAKEFILE=ON \
               -DCMAKE_SHARED_LINKER_FLAGS="-Wl,--as-needed $(LDFLAGS)" \
               -DCMAKE_EXE_LINKER_FLAGS="-Wl,--as-needed $(LDFLAGS)"    \
               -DCMAKE_BUILD_TYPE:STRING=Release \
               -DQFS_USE_STATIC_LIB_LINKAGE=0


%:
	dh $@ --buildsystem=cmake --parallel --with python2,systemd

override_dh_clean:
	dh_clean
	$(RM) -rv build qfstest

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_install:
	dh_auto_install
	CFLAGS="$(CFLAGS) -Wl,-rpath=/usr/lib/qfs" python src/cc/access/kfs_setup.py install \
            --install-lib=$(CURDIR)/debian/qfs-common/usr/lib/qfs

override_dh_python2:
	dh_python2
	dh_python2 /usr/share/qfs

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/tmp/usr/lib/qfs

override_dh_fixperms:
	dh_fixperms
	## executable-not-elf-or-script
	chmod -c a-x \
            debian/*/usr/share/qfs-webui/files/sorttable/*.gif
	mv -v $(CURDIR)/debian/qfs-webui/etc/qfs/server.conf  $(CURDIR)/debian/qfs-webui/etc/qfs/qfs-webui.conf

override_dh_installinit:
	#dh_installinit --no-start

override_dh_systemd_start:
	dh_systemd_start --no-start

override_dh_auto_test:
	#src/test-scripts/qfstest.sh

## gracefully handle stripping if -dbg packages are (un-)commented in debian/control
override_dh_strip:
	[ -d "$(CURDIR)/debian/qfs-dbg" ] \
        && dh_strip --dbg-package=qfs-dbg \
        || dh_strip
