#
# $Id$
#
# Author: Thilee Subramaniam
#
# Copyright 2012 Quantcast Corp.
#
# This file is part of Kosmos File System (KFS).
#
# Licensed under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License.
#
# This simple local setup is for one metaserver, two chunkservers that talk to
# the metaserver, and a webserver to monitor the KFS servers.
#
# Note the unit port numbers and the unique chunkserver directories for each
# chunkserver.

[metaserver]
hostname    = localhost
rundir      = ~/qfsbase/meta
clientport  = 20000
chunkport   = 20100
clusterkey  = myTestCluster

[chunkserver1]
hostname    = localhost
rundir      = ~/qfsbase/chunk1
chunkport   = 21001
# in practice, have a chunkdir per disk.
chunkdirs   = ~/qfsbase/chunk1/chunkdir11 ~/qfsbase/chunk1/chunkdir12

[chunkserver2]
hostname    = localhost
rundir      = ~/qfsbase/chunk2
chunkport   = 21002
# in practice, have a chunkdir per disk.
chunkdirs   = ~/qfsbase/chunk2/chunkdir21

[chunkserver3]
hostname    = localhost
rundir      = ~/qfsbase/chunk3
chunkport   = 21003
# in practice, have a chunkdir per disk.
chunkdirs   = ~/qfsbase/chunk3/chunkdir31

[webui]
hostname    = localhost
rundir      = ~/qfsbase/web
webport     = 22000

[certs]
rundir      = ~/qfsbase/certs

[client]
rundir      = ~/qfsbase/client
