#
# $Id#
#
# Copyright 2008-2017 Quantcast Corporation. All rights reserved.
#
# This file is part of Quantcast File System (QFS).
#
# Licensed under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License.
#
# The metaserver configuration.
# Additional information can be found in
# https://github.com/quantcast/qfs/wiki/Configuration-Reference.

fs.default = qfs://localhost:20000
#fs.msgLogWriter.logLevel=ERROR
# fs.trash.minPathDepth  = 5
# fs.trash.current     = Current
# fs.trash.homesPrefix = /user
# fs.trash.interval    = 60
# fs.trash.trash       = .Trash
# dfs.force.remove     = true
#fs.euser  = 3008
#fs.egroup = 505
