#
# $Id$
#
# Created 2006
# Author: Sriram Rao (Kosmix Corp)
#
# Copyright 2006 Kosmix Corp.
#
# This file is part of Kosmos File System (KFS).
#
# Licensed under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License.
#
#
# KFS Machine configuration file
#
# The following configuration is a single node KFS setup.  There is
# one meta server and 2 chunk servers. The chunk servers are exporting 
# 30,000,000 bytes or 30 G apiece.  Note the unique values for the baseport, rundir.
#
[metaserver]
node: localhost
rundir: /Users/sriram/kfsRun/meta
baseport: 20000
clusterkey: test-cluster
worm: 0
[chunkserver1]
node: localhost
rundir: /Users/sriram/kfsRun/chunk1
baseport: 30000 
space: 10 G
[chunkserver2]
node: localhost
rundir: /Users/sriram/kfsRun/chunk2
baseport: 40000 
space: 10 G
[chunkserver3]
node: localhost
rundir: /Users/sriram/kfsRun/chunk3
baseport: 50000 
space: 10 G
